html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.clickable {
  cursor: pointer;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.App-header {
    background-color: #222;
    height: 60px;
    color: #ff6734;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.App-header h1 {
    font-size: 16px;
    font-weight: 200;

}

.App-header-logo {
    height: 80%;
    width: auto;
}

/* control logo on the picture */
.App-logo {
/* display: inline; 
 float: right; */

    width: 120px;
    height: 50px;
  	position: absolute;
	top:2%;
	right:2%;
	
	background-color: transparent; 
}

.Login-header {
    background-color: #222;
    height: 30px;
    color: #ff6734;
    display: flex;
    justify-content: space-between;
    align-items: center;
   	position: absolute;
	top:20%;
	right:2%;
 
}


.Login-user {
 background-color:black;
	width: 420px;
    height:290px;
	position: absolute;
	top:18%;
	right:1%;
    padding: 0 20px;
	border-style: solid;
	border-color:#ff6734;
	/*background:url('/images/guardians-of-the-galaxy-dark.jpg') no-repeat center fixed;*/
    background-size: cover;

	}



/* control logo on the picture 
.alignright { 
display: inline; 
float: right; 
}
*/
.App-main {
    position: relative;
    width: 80vw;
    height: calc(75vw * .6);
    margin: 10px auto;
    border: 1px solid lightblue;
    background: url('/images/care.png') no-repeat center fixed;
    background-size: cover;
}

.App-main h1{
    font-size: 30px;
   	text-align: center;
    font-weight: bold;
	color:white;
	 
}

.App-main h2{
    font-size: 22px;
    font-weight: bold;
	text-align:Left;
		color:white;
		

}
.App-main h3{
    font-size: 20px;
    font-weight: 300;
	text-align:Left;
	padding:0;
	margin:0;
		color:white;
}
.App-main h4{
    font-size: 16px;
    font-weight: 300;
	text-align:center;
	padding:0,10px;
	margin:0;
	color:white;
}


/* Add styles to the form container */
.container {
  position: absolute;
  right: 280px;
  margin:0;
  padding:0;
  background-color: transparent;
}

/* Set a style for the submit button */
.btn {
 /*/ background-color: #4CAF50;*/
  position: absolute;
  right: 30px;
  background-color: #ff6734;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 47%;
  opacity: 0.9;
  font-weight:bold;
}

.btn:hover {
  opacity: 1;
}

.imgbuttonsms {
 /*/ background-color: #4CAF50;*/
  position: absolute;
  right:200;
  background-color: transparent;
  color: white;
  padding: 0px 20px;
  border: none;
  cursor: pointer;
  width: 5%;
  opacity: 0.9;
  font-weight:bold;
  margin:0;
  padding:0;
}

.imgbuttonphone {
 /*/ background-color: #4CAF50;*/
  position: absolute;
  right:145px;
  background-color: transparent;
  color: white;
  padding:0px 0px;
  border: none;
  cursor: pointer;
  width: 5%;
  opacity: 0.9;
  font-weight:bold;
   margin:0;
  padding:0;
}
.imgbuttonwhatsapp {
 /*/ background-color: #4CAF50;*/
  position: absolute;
  right:100px;
  background-color: transparent;
  color: white;
  padding: 0px 0px;
  border: none;
  cursor: pointer;
  width: 5%;
  opacity: 0.9;
  font-weight:bold;
    margin:0;
  padding:0;
}
.buttonheader{
    font-size: 13px;
    font-weight: 10;
	text-align:center;
	padding:0;
	margin:100px,0, 0px,0;
	color:Orange;
}
